<!-- <div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">6 CARDS</h5>
      
      <a href="#" class="btn btn-primary">Play</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">12 CARDS</h5>
      
      <a href="#" class="btn btn-primary">Play</a>
    </div>
  </div>
</div> -->

<!-- <div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">6 CARDS</h5>
      
      <a routerLink="home/six" routerLinkActive="active" class="btn btn-primary">Play</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">12 CARDS</h5>
      
      <a routerLink="home/twelve" routerLinkActive="active" class="btn btn-primary">Play</a>
    </div>
  </div>
  
</div> -->
<div><router-outlet></router-outlet></div>
<!-- <app-home></app-home> -->




