<nav class="navbar navbar-light bg-light nav-title">
  <h1 class=" mb-0 h1">MEMORY GAME</h1>
</nav>
<div class="jumbotron welcome">
  <!-- <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
  <!-- <hr class="my-4"> -->
  <p>
    WELCOME TO THE ENCHANTING GARDEN OF MEMORIES – WHERE EACH CARD HOLDS A PORTAL TO A WORLD OF CHERISHED MOMENTS! UNLEASH YOUR INNER EXPLORER AS YOU EMBARK ON A WHIMSICAL JOURNEY THROUGH THIS CAPTIVATING MEMORY GAME. EVERY FLIP IS A STEP TOWARDS REDISCOVERING THE MAGIC OF YOUR PAST. ARE YOU READY TO UNFOLD THE PAGES OF YOUR OWN STORY? LET THE GAMES BEGIN AND LET THE MEMORIES RESURFACE WITH EVERY CARD TURNED. MAY THE TILES ALIGN IN PERFECT HARMONY, UNLOCKING A TREASURE TROVE OF MOMENTS IN THIS ENCHANTING EXPEDITION! GET READY TO PLAY, REMEMBER, AND CREATE NEW MEMORIES ALONG THE WAY. HAPPY GAMING!
  </p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>
<div class="cards">
  <!-- <p>
    Welcome to the Enchanting Garden of Memories – where each card holds a portal to a world of cherished moments! Unleash your inner explorer as you embark on a whimsical journey through this captivating Memory Game. Every flip is a step towards rediscovering the magic of your past. Are you ready to unfold the pages of your own story? Let the games begin and let the memories resurface with every card turned. May the tiles align in perfect harmony, unlocking a treasure trove of moments in this enchanting expedition! Get ready to play, remember, and create new memories along the way. Happy gaming!
  </p> -->

 
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">6 CARDS</h5>
      
      <a routerLink="/home/six" routerLinkActive="active" class="btn btn-primary play-button">Play</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">12 CARDS</h5>
      
      <a routerLink="/home/twelve" routerLinkActive="active" class="btn btn-primary play-button">Play</a>
    </div>
  </div>
  <!-- <app-board></app-board> -->
  
</div>
<router-outlet></router-outlet>
